
<div class="container-">
  <div class="row">
    <div class='well col-xs-12 col-md-4 col-md-offset-4'>
      <h1>CONTACT</h1>
      <address id='contactCard'>
        <p class='lead'>
          <strong>Jake Gardner</strong><br>
          <a href="tel:3048868380">(304) 886 - 8380</a><br>
          <a href="mailto:movesbyjake@gmail.com">movesbyjake@gmail.com</a>
          <a href="https://www.facebook.com/jake.gardner.5688?fref=ts" target='_blank'><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
        </p>
      </address>
      <h3>I am available during the week from 6 PM-12 PM. And on weekends.</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1>CALENDAR</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class='embed-responsive-item' src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=josh123090%40gmail.com&amp;color=%23875509&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%232F6309&amp;src=pcmacfix.com_h5qcri0aso63i8jfb74qu0d2r4%40group.calendar.google.com&amp;color=%236B3304&amp;src=pcmacfix.com_4h9t1iosob8qcvcrnji7u75r6g%40group.calendar.google.com&amp;color=%23B1440E&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-1 ">
      <form class="form-horizontal" ng-submit="sendMail()">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="tel" class="form-control" id="name" placeholder="Name" ng-model='customer.name' required>
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-2 control-label">Phone Number</label>
          <div class="col-sm-10">
            <input type="tel" class="form-control" id="phone" placeholder="Phone Number" ng-model='customer.phone' required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email Address</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model='customer.email' required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email Address</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" ng-model='customer.message' placeholder="Send me a detailed message and I can get back to you." required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>