img.media-object {
  max-height: 35vh;
}

p.lead {
  font-size: 2em;
}

.media {
  width: 150vh;
}

.contactCard {
  position: fixed;
  word-wrap: break-word;
}
 
.contact {
  word-wrap: break-word;
}

#progressbar {
  width: 100%;
  bottom: 0;
  position: fixed;
  display: none;
}

.truckImg {
  height: 5vh;
  left: 0;
  bottom: 0;
  position: fixed;
}