img.media-object {
  max-height: 35vh;
}

p.lead {
  font-size: 2em;
}

.media {
  width: 150vh;
}

.contactCard {
  position: fixed;
  word-wrap: break-word;
}
 
.contact {
  word-wrap: break-word;
}