img.media-object {
  max-height: 35vh;
}

p.lead {
  font-size: 2em;
}

.media {
  width: 150vh;
}

.contactCard {
  position: fixed;
}

.well.col-md-2.contactCard.hidden-xs.hidden-sm.hidden-md {
  word-wrap: break-word;
}