<div id='calendarDiv' class="row">
  <h1 class='text-center'>Availability</h1>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2 class='text-center'>I am available during the week from 6 PM-12 PM. And on weekends.</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class='embed-responsive-item' src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=josh123090%40gmail.com&amp;color=%23875509&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%232F6309&amp;src=pcmacfix.com_h5qcri0aso63i8jfb74qu0d2r4%40group.calendar.google.com&amp;color=%236B3304&amp;src=pcmacfix.com_4h9t1iosob8qcvcrnji7u75r6g%40group.calendar.google.com&amp;color=%23B1440E&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>