<div class='container'>
  <div class="well well-sm">
    <address>
      <p class='lead'>
        <strong>Jake Gardner</strong> &middot; 
        <a href="tel:3048868380">(304) 886 - 8380</a> &middot; 
        <a href="mailto:movesbyjake@gmail.com">movesbyjake@gmail.com</a> &middot; 
        <a href="https://www.facebook.com/jake.gardner.5688?fref=ts" target='_blank'><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
      </p>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; Country Roads Moving Company &middot; <a ui-sref='terms'>Privacy and Terms</a></p>
    </address>
  </div>
</div>`